<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <episerver.framework>
  <blob defaultProvider="MissingFileBlobProvider">
    <providers>
      <add name="MissingFileBlobProvider"
              ProdUrl="http://www.gosso.se/"
              UrlResolverUrl="modules/Gosso.EPiServerAddOn.DownloadIfMissingFileBlob/UrlResolver.ashx"
              RestrictedFileExt=".docx.doc.pdf.exe.zip.mov.mp4"
              type="Gosso.EPiServerAddOn.DownloadIfMissingFileBlob.Provider, Gosso.EPiServerAddOn.DownloadIfMissingFileBlob" />
    </providers>
  </blob>
  </episerver.framework>
</configuration>